---

---

<nav class="flex items-center pr-10px pl-2px m-10px">
  <a
    href="/"
    class="inline-block m-0 py-8px px-10px scale-80 translate-y--2px hover:translate-y--4px transition-240 mt-7px"
    title="Home"
  >
    <img src="/logo.svg" alt="Home" class="inline-block dark:hidden" />
    <img src="/logo_dark.svg" alt="Home" class="hidden dark:inline-block" />
  </a>
  <div class="flex-auto"></div>
  <a
    href="/projects/"
    class="i-lucide-box hover:translate-y--3px transition-160"
    title="My Projects"></a>
  <a
    href="https://blog.7086cmd.me"
    target="_blank"
    class="i-mdi-blogger hover:translate-y--3px transition-160"
    title="My Personal Blog"></a>
  <a
    href="https://github.com/7086cmd"
    target="_blank"
    class="i-line-md-github hover:translate-y--3px transition-160"
    title="My GitHub"></a>
  <a
    href="https://x.com/7086cmd"
    target="_blank"
    class="i-line-md-twitter-x hover:translate-y--3px transition-160"
    title="My ð• (formerly Twitter)"></a>
  <a
    href="https://instagram.com/ethangoh7086cmd"
    target="_blank"
    class="i-line-md-instagram hover:translate-y--3px transition-160"
    title="My Instagram"></a>
  <a
    href="https://mastodon.social/@7086cmd"
    target="_blank"
    class="i-line-md-mastodon hover:translate-y--3px transition-160"
    title="My Mastodon"></a>
  <a href="/about/" class="i-lucide-info hover:translate-y--3px transition-160"
  ></a>
</nav>

<style>
  a {
    margin-left: 2px;
    margin-right: 2px;
    font-size: 18px;
    line-height: 100%;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 3px;
  }
  a:hover {
    background-color: var(--h-light-mid-gray);
  }
  img {
    padding: 0px;
  }
</style>
